<router-outlet></router-outlet>
<!-- src/app/home/home.component.html -->

<div class="home-container">
    <div class="advertisement">
      <h2>Добро пожаловать в наш планировщик задач!</h2>
      <p>Управляй своим временем с легкостью и эффективностью.</p>
      <p>Не упустите ни одной важной задачи!</p>
      <button class="cta-button">Зарегистрируйтесь сейчас</button>
    </div>
  
    <div class="tasks-to-do">
      <h3>Сейчас ведется работа над:</h3>
      <ul>
        <li>☐ Компонент "Taskboard" для отображения задач</li>
        <li>☐ Маршруты для навигации между страницами</li>
        <li>☐ Компоненты "Column" и "Task" для управления задачами</li>
        <li>☐ Форму добавления и редактирования задач</li>
        <li>☐ Angular services для взаимодействия с бэкендом</li>
        <li>☐ Стили и адаптивный дизайн</li>
      </ul>
    </div>
  </div>
  